body{
    position: relative;
    background-image: url("image/bg3.png");
    background-attachment: fixed;

    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0;
    margin: 0;
}

h1{
    color: black;
}

label{color: black}


.sans-nav{
    margin-top: 3em;
}


#images, #imagessuppr{
    background-color: black;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 15px;
}

footer{
    background-color: black;
    border-radius: 15px;
    margin-top: 5em;

}

#ajoutPhoto{
    background-color: black;
    margin-top: 2em;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 1%;
    padding-top: 2%;
    border-radius: 15px;
}

h4{
    color: white;
}


 #chosefile{
     margin-bottom: 1em;
 }

 #nomimage{
     color: white;
 }


 h4{
     color: black;
 }

 #navbarDropdown{
     color:black;
 }

#navbar{
    opacity: 0.9;
    margin-bottom: 1em;
}

.card-size{
    width: 20%;
    height: 30%;
    opacity: 0.9;
}

.card-columns {
    column-count: 4;
}

#first-card{
    margin-bottom: 2em;
}

.body-table{
    background-color: whitesmoke;
}

.table td thead{
    text-align: center;
}
